.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buttoncenter {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 5vh;
}

.box1 {
    transform: translateX(-100%);
}

.box2 {
    transform: translateX(-100%);
}

.box3 {
    transform: translateX(-100%);
}

.pygame {
    transform: translateX(-100%);
}