body {
    overflow-x: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

.buttoncenter {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 5vh;
    
}

.box1 {
    transform: translateX(-100%);
}

.box2 {
    transform: translateX(-100%);
}

.box3 {
    transform: translateX(-100%);
}

.pygame {
    transform: translateX(-100%);
}


.lecke1 {
    transform: translateY(-200%);
    margin-left: 3vh;
    background-color: #bbcbcb80;
    width: fit-content;
    border-radius: 1vh;
    padding: 1vh;
    opacity: 0;
}

#fadein {
    color: white;
    font-weight: bold;
    padding: 3vh;
    font-size: 20px;
}

.py {
    float: right;
}

.image-style {
    width: 100%;
    height: auto;
    border: 1vh #E5FFDE80 solid;
    padding: 2vh;
    border-radius: 2vh;
}

.image-div {
    height: 100%;
    width: 100%;
    background-color: #E5FFDE80;
}